html{
    scroll-behavior: smooth;
}
body{
    background-color: #0B0C10;
}
*{
    color: #66FCF1;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #0B0C10;
    width: 100%;
    height: 4rem;
    z-index: 1000;
    top: -0.5rem;
}
nav > i{
    display:inline-block;
    top:-30px;
    left: 10px;
    height: 20px;
    background-color: #66FCF1;
    border-radius: 50%;
    position: relative;
}
nav h3{
    top:-30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1 rem;
    font-weight: lighter;
    position: relative;
    left:-275px;
}
#favourites{
    display: inline-block;
    position: relative;
    left: 50px;
    top:-30px;
}
#favourites a{
    border: 0px;
    background-color: transparent;
    text-decoration: none;
    color:#66FCF1;
    position: relative;
    left:-600px;
    transition: 0.1s ease-out;

} 
#favourites a:hover{
    font-size:larger;
    color: white;
    font-weight: lighter;
}
#Search{
    display: inline-block;
    position: relative;
    left:-250px;
    top:20px;
    color:#66FCF1;
}
#Search ::placeholder{
    position: relative;
    left: 60px;
} 
#mag{
    height: 10px;
    left: 600px;
    color: #66FCF1;
    position: relative;
    display: inline-block;

}
#ss{
    position: relative;
    display: inline-block;
    left: -120px;
    outline: none;
    top: 10px;
    border: none;
    background-color: transparent;

}
#Search input{
    position: relative;
    display: inline-block;
    top: -12px;
    background-color: transparent;
    border: none;
    outline: none;
}
#mic{
    position: relative;
    top: -9px;
    left: -50%;
    padding: 10px 7px;
    background-color: transparent;
}
#notf{
    background-color: transparent;
    top: -37px;
    position: relative;
}
#profile{
    display: inline-block;
    position: relative;
    left:100px;
    top:-70px;
    border-radius:70% ;
}
    
#profile img{
    position: relative;
    top: 2px;
    max-height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* favlist */
#favlist-container{
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top:10rem;
    width: 70%;
    box-sizing: border-box;
    padding:0px 10px 10px 30px;
    max-height: 150px; 
}

.favlis{
position: relative;
max-width:22%;
margin: 10px;

transition: 1s ease-in-out all;

}
.favlis img{
    width: 100%; 
    transition: 1s ease-in-out all;  
}

.favlis:hover img{
    width: 123%;   
}
    


#songlist{
    position:absolute;
    top:15%;
    margin-left: 40px;
    left: 70%; 
    height: 80%;
    width: 8cm;
    
    
    
}
/* aside */

#songlist{
    position:fixed;
    height:100%;
    overflow-y:auto;
    overflow-x:hidden;
}
#songlist::-webkit-scrollbar {
    display: none;
  }

#que{
    color: #66FCF1;
    
    
}
.dropbtn {
    color: rgb(4, 94, 150);
    padding: 18px;
    font-size: 16px;
    border: none;
    position: relative;
    left: -1rem;
    background-color: transparent; /* Resetting the background color */
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
    left: 6.5cm;
    top: -1.5cm;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top:-20px;
    right:0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
   
  .dropdown:hover .dropbtn {color: rgba(6, 6, 236, 0.406);}

  .songs img{
    height: 30px;
    width: 30px;
  }
  .s1 h5{
    color:#66FCF1;
    display: inline-block;
    position: relative;
    height: 1px;
    top: -0.5cm;
    left: 0.5rem;
  }
  .s1 p{
    position: relative;
    display: inline-block;
    color: #C5C6C7;
    font-size: 10px;
    left:-1.2cm;  
    margin-bottom: 2rem; 
  }
  .songs{
    position: relative;
    top: -4rem;
    /* overflow: auto; */
  }
  .fa-regular{
    color: white;
    position: relative;
    left: 7rem;
  }
  .s1 a i{
    color:#66FCF1;
  }
.s1 a:focus i{
    color: red;
}
/* latest */

#lt_container {
height: 50px;
color: #66FCF1;
position: absolute;
top: 65%;
left:51px;
    
}
.lat img{
    position: relative;
    height: 60px;
    width: 60px;
}
.lat h5{
    position: relative;
    left:70px;
    top: -75px;
    font-size: small;
    font-weight: 5;
}
.lat p{
    height: -200px;
    position: relative;
    color: gray;
    font-size: x-small;
    left: 70px;
    top: -88px;

}
.fa-solid{
    /* position: relative; */
    top: -140px;
    left: 250px;
    color: gray;

}
.lat h6{
    position: relative;
    top: -160px;
    left: 248px;
    color: gray;
}


#l2{
    position: relative;
    top: -100px;
}
#l3{
    position: relative;
    top: -445px;
    left: 400px;
    
}
#l4{
    position: relative;
    top: -549px;
    left: 400px;
    
}
#p1 img{
    position: absolute;
    top: 45rem;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    left: 3.3rem;
}
#pop{
    position: absolute;
    color: #66FCF1;
    top: 41rem;
    left: 3.1rem;
}
#p1 h4{
    position:absolute;
    color: #66FCF1;
    top: 51rem;
    left: 4.5rem;
    font-weight: 10;

}
#p2 img{
    position: absolute;
    top: 45rem;
    left: 13rem;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
}
#p2 h4{
    position:absolute;
    color: #66FCF1;
    top: 51rem;
    left: 14.2rem;
    font-weight: 10;
}
#p3 img{
    position: absolute;
    top: 45rem;
    left: 23rem;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
}
#p3 h4{
    position:absolute;
    color: #66FCF1;
    top: 51rem;
    left: 24rem;
    font-weight: 10;
}
#p4 img{
    position: absolute;
    top: 45rem;
    left: 33rem;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
}
#p4 h4{
    position:absolute;
    color: #66FCF1;
    top: 51rem;
    left: 35rem;
    font-weight: 10;
}
#p5 img{
    position: absolute;
    top: 45rem;
    left: 43rem;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
}
#p5 h4{
    position:absolute;
    color:#66FCF1;
    top: 51rem;
    left: 44rem;
    font-weight: 10;
}
#mo1{
    position: absolute;
    width: 6.5rem;
    height: 6.5rem;
    top: 55rem;
    left: 3rem;
    
}
#mo1 img{
    position: absolute;
    
    height: 100%;
    width: 100%;

    
}
#mo1 img:hover{
    width:120%;
    transform: scale(1.2) ;
    transition: 1s ease;
}

#mo1 h3{
    position: absolute;
    color: #66FCF1;
    left: 2rem;
    top: 1.5rem;
}
#mo2{
    position: absolute;
    width: 6.5rem;
    height: 6.5rem;
    top: 55rem;
    left: 13rem;
    
}
#mo2 img{
    position: absolute;
    
    height: 100%;
    width: 100%;   
}
#mo2 img:hover{
    width:120%;
    transform: scale(1.2) ;
    transition: 1s ease;
}
#mo2 h3{
    position: absolute;
    color: #66FCF1;
    left: 2rem;
    top: 1.5rem;
}
#mo3{
    position: absolute;
    width: 6.5rem;
    height: 6.5rem;
    top: 55rem;
    left: 23rem;
    
}
#mo3 img{
    position: absolute;
    
    height: 100%;
    width: 100%;   
}
#mo3 img:hover{
    width:120%;
    transform: scale(1.2);
    transition: 1s ease;
}
#mo3 h3{
    position: absolute;
    color: #66FCF1;
    left: 2rem;
    top: 1.5rem;
}
#mo4{
    position: absolute;
    width: 6.5rem;
    height: 6.5rem;
    top: 55rem;
    left: 33rem;
    
}
#mo4 img{
    position: absolute;
    
    height: 100%;
    width: 100%;   
}
#mo4 img:hover{
    width:120%;
    transform: scale(1.2);
    transition: 1s ease;
}
#mo4 h3{
    position: absolute;
    color: #66FCF1;
    left: 2rem;
    top: 2.5rem;
}
#mo5{
    position: absolute;
    width: 6.5rem;
    height: 6.5rem;
    top: 55rem;
    left: 43rem;
    
}
#mo5 img{
    position: absolute;
    
    height: 100%;
    width: 100%;   
}
#mo5 img:hover{
    width:120%;
    transform: scale(1.2);
    transition: 1s ease;
}
#mo5 h3{
    position: absolute;
    color: #66FCF1;
    left: 2rem;
    top: 2.4rem;
}
#English h3{
    position:absolute;
    color: #66FCF1;
    top:62rem;
    left: 2.8rem;
}
#eng{
    position: relative;
    height: 150px;
    width: 900px;
    top: 65rem;
    display: flex;
    justify-content: space-around;
    
}
#e1 img{
    height: 100px;
    width: 100px;
}
#e1 h3{
    color: #66FCF1;
}
#e1 h6{
    color: #66FCF1;
    position: relative;
    top: -1.1rem;
    left: 1.3rem;

}
#e1 p{
    color: gray;
    font-size: xx-small;
    position: relative;
    top: -2.3rem;
    left: 1.6rem;
}
#e2 img{
    height: 100px;
    width: 100px;
}
#e2 h3{
    color: #66FCF1;
}
#e2 h6{
    top: -18px;
    color: #66FCF1;
    position: relative;
    top: -1.1rem;
    left: 1.3rem;
}
#e2 p{
    color: gray;
    font-size: xx-small;
    position: relative;
    top: -2.3rem;
    left: 1.6rem;
}
#e3 img{
    height: 100px;
    width: 100px;
}
#e3 h3{
    color: #66FCF1;
}
#e3 h6{
    position: relative;
    top: -1.1rem;
    left: 1.3rem;
    color: #66FCF1;
}
#e3 p{
    color: gray;
    font-size: xx-small;
    position: relative;
    top: -2.3rem;
    left: 1.6rem;
}
#e4 img{
    height: 100px;
    width: 100px;
}
#e4 h3{
    color: #66FCF1;
}
#e4 h6{
    color: #66FCF1;
    position: relative;
    top: -1.1rem;
    left: 1.3rem;
}
#e4 p{
    color: gray;
    font-size: xx-small;
    position: relative;
    top: -2.3rem;
    left: 1.6rem;
}
#e5 img{
    height: 100px;
    width: 100px;
}
#e5 h3{
    color: #66FCF1;
}
#e5 h6{
    color: #66FCF1;
    position: relative;
    top: -1.1rem;
    left: 1.3rem;
}
#e5 p{
    color: gray;
    font-size: xx-small;
    position: relative;
    top: -2.3rem;
    left: 1.6rem;
}
#e6 img{
    height: 100px;
    width: 100px;
}
#e6 h3{
    color: #66FCF1;
}
#e6 h6{
    color:#66FCF1;
    position: relative;
    top: -1.1rem;
    left: 1.3rem;
}
#e6 p{
    color: gray;
    font-size: xx-small;
    position: relative;
    top: -2.3rem;
    left: 1.6rem;
}
#Hindi h3{
    position:absolute;
    color: #66FCF1;
    top:75rem;
    left: 2.5rem;
}
#hin{
    position: relative;
    height: 150px;
    width: 900px;
    top: 68rem;
    display: flex;
    justify-content: space-around;
}
#hi1 img{
    height: 100px;
    width: 100px;
}
#hi1 h3{
    color: #66FCF1;
}
#hi1 h6{
    color:#66FCF1;
    position: relative;
    top: -1.1rem;
    left: 1.3rem;

}
#hi1 p{
    color: gray;
    font-size: xx-small;
    position: relative;
    top: -2.3rem;
    left: 1.6rem;
}
#hi2 img{
    height: 100px;
    width: 100px;
}
#hi2 h3{
    color:#66FCF1;
}
#hi2 h6{
    top: -18px;
    color: #66FCF1;
    position: relative;
    top: -1.1rem;
    left: 1.3rem;
}
#hi2 p{
    color: gray;
    font-size: xx-small;
    position: relative;
    top: -2.3rem;
    left: 1.6rem;
}
#hi3 img{
    height: 100px;
    width: 100px;
}
#hi3 h3{
    color: #66FCF1;
}
#hi3 h6{
    position: relative;
    top: -1.1rem;
    left: 1.3rem;
    color: #66FCF1;
}
#hi3 p{
    color: gray;
    font-size: xx-small;
    position: relative;
    top: -2.3rem;
    left: 1.6rem;
}
#hi4 img{
    height: 100px;
    width: 100px;
}
#hi4 h3{
    color: #66FCF1;
}
#hi4 h6{
    color:#66FCF1;
    position: relative;
    top: -1.1rem;
    left: 1.3rem;
}
#hi4 p{
    color: gray;
    font-size: xx-small;
    position: relative;
    top: -2.3rem;
    left: 1.6rem;
}
#hi5 img{
    height: 100px;
    width: 100px;
}
#hi5 h3{
    color: #66FCF1;
}
#hi5 h6{
    color: #66FCF1;
    position: relative;
    top: -1.1rem;
    left: 1.3rem;
}
#hi5 p{
    color: gray;
    font-size: xx-small;
    position: relative;
    top: -2.3rem;
    left: 1.6rem;
}
#hi6 img{
    height: 100px;
    width: 100px;
}
#hi6 h3{
    color: #66FCF1;
}
#hi6 h6{
    color: #66FCF1;
    position: relative;
    top: -1.1rem;
    left: 1.3rem;
}
#hi6 p{
    color: gray;
    font-size: xx-small;
    position: relative;
    top: -2.3rem;
    left: 1.6rem;
}